@model CheckoutPaymentMethodModel
@using Nop.Web.Models.Checkout;

@Html.Widget("op_checkout_payment_method_top")

@if (Model.DisplayRewardPoints && Model.PaymentMethods.Count > 0)
{
    <div class="row">
        <div class="col-sm-6 col-sm-push-3">
            @Html.CheckBoxFor(x => x.UseRewardPoints, Model.RewardPointsEnoughToPayForOrder ? new { @onclick = "PaymentMethod.toggleUseRewardPoints(this)" } : null)
            @string.Format(T("Checkout.UseRewardPoints").Text, Model.RewardPointsBalance, Model.RewardPointsAmount)
            @if (Model.RewardPointsEnoughToPayForOrder)
                {
                <script type="text/javascript">
                        $(document).ready(function() {
                            PaymentMethod.toggleUseRewardPoints($('#@Html.FieldIdFor(model => model.UseRewardPoints)'));
                        });
                </script>
            }
        </div>
    </div>
}
@if (Model.PaymentMethods.Count > 0)
            {
    <div class="row image-options">
        <ul class="method-list" id="payment-method-block">
            @for (int i = 0; i < Model.PaymentMethods.Count; i++)
            {
                var paymentMethod = Model.PaymentMethods[i];
                var paymentMethodName = paymentMethod.Name;
                if (!String.IsNullOrEmpty(paymentMethod.Fee))
                {
                    paymentMethodName = T("Checkout.SelectPaymentMethod.MethodAndFee", paymentMethodName, paymentMethod.Fee).Text;
                }
                <li class="col-md-3 col-xs-6">
                    <div class="method-name">
                        @if (!String.IsNullOrEmpty(paymentMethod.LogoUrl))
                        {
                            <div class="payment-logo">
                                <label for="paymentmethod_@(i)">
                                    <img src="@paymentMethod.LogoUrl" alt="@paymentMethodName" />
                                </label>
                            </div>
                        }
                        <div class="payment-details">
                            <input id="paymentmethod_@(i)" type="radio" name="paymentmethod" value="@(paymentMethod.PaymentMethodSystemName)" checked="@paymentMethod.Selected" />
                            <label for="paymentmethod_@(i)">@paymentMethodName</label>
                            @if (!string.IsNullOrEmpty(paymentMethod.Description))
                            {
                                <div class="payment-description">@paymentMethod.Description</div>
                            }
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
}
else
{
    <div class="message-error">
        @T("Checkout.NoPaymentMethods")
    </div>
}
@Html.Widget("op_checkout_payment_method_bottom")

