@model AdminHeaderLinksModel
@using Nop.Web.Models.Common;
@if (Model.IsCustomerImpersonated || Model.DisplayAdminLink)
{

    if (Model.IsCustomerImpersonated)
    {
        <li>
            <a href="@Url.RouteUrl("Logout")" title="@T("Account.ImpersonatedAs.Finish.Hint")">
                <span class="iconfont icon-a526"></span>
                <span class="links">
                    <span class="links-label">@string.Format(T("Account.ImpersonatedAs").Text, Model.ImpersonatedCustomerName)</span>
                    <span class="links-sum">@T("Account.ImpersonatedAs.Finish")</span>
                </span>
            </a>
        </li>
    }
    if (Model.DisplayAdminLink)
    {
        <li><a href="@Url.Content("~/admin")"><span class="links">@T("Account.Administration")</span></a></li>
    }
    if (!String.IsNullOrEmpty(Model.EditPageUrl))
    {
        <li><a href="@Model.EditPageUrl"><span class="links">@T("Common.ManagePage")</span></a></li>
    }



}