@model PasswordRecoveryModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    //page class
    Html.AppendPageCssClassParts("html-password-recovery-page");
    Html.AddCssFileParts("~/Themes/Store/Content/css/pages/register.css");

}
<div class="account-number">
    <h1 class="account-title">@T("Account.PasswordRecovery")</h1>
    <div class="container">
        @if (!String.IsNullOrEmpty(Model.Result)) {
            <div class="result">
                @Model.Result
            </div>
        } else {
            <div class="row">
                <div class="mycol col-xs-12">
                    <div class="account-box-container">
                        @using (Html.BeginForm("PasswordRecovery", "Customer", FormMethod.Post, new { @class = "form-horizontal account-submit" }))
                        {
                            @Html.AntiForgeryToken()
                            <strong class="box-title">@T("Account.PasswordRecovery.Tooltip")</strong>
                            <div class="form-container">
                                <div class="form-group">
                                    <label for="@Html.IdFor(m=>m.Email)" class="col-sm-4 control-label">@Html.RequiredHint() @Html.DisplayNameFor(m => m.Email):</label>
                                    <div class="col-sm-4">
                                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control inputs" })
                                        <div class="error tips">@Html.ValidationMessageFor(model => model.Email)</div>
                                    </div>
                                </div>
                            </div>
                            <input type="submit" name="send-email" class="buttons" value="@T("Account.PasswordRecovery.RecoverButton")" />
                        }
                    </div>
                </div>
            </div>
        }

    </div>
</div>
