@model NewsItemListModel
@using Nop.Web.Models.News;
@using Nop.Core.Domain.Seo;
@using Nop.Core.Infrastructure
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    var canonicalUrlsEnabled = EngineContext.Current.Resolve<SeoSettings>().CanonicalUrlsEnabled;
    if (canonicalUrlsEnabled)
    {
        Html.AddCanonicalUrlParts(string.IsNullOrEmpty(Request.Url.Query) ? Request.Url.AbsoluteUri : Request.Url.AbsoluteUri.Replace(Request.Url.Query, ""));
    }

    //title
    Html.AddTitleParts(T("PageTitle.NewsArchive").Text);
    //page class
    Html.AppendPageCssClassParts("html-news-list-page");

    Html.AddCssFileParts("~/Themes/Ipharmachine/Content/css/pages/articleList.css");
}


<div class="page-title">
    <a href="@Url.RouteUrl("NewsRSS", new { languageId = Model.WorkingLanguageId })" class="link-rss" title="@T("News.RSS.Hint")">@T("News.RSS")</a>
    <h1>@T("News")</h1>
</div>
<div>
    @Html.Widget("newslist_page_before_items")
    @foreach (var item in Model.NewsItems)
    {
        <div class="article-lists">
            <div class="lists-head">
                <a class="lists-title" href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })">@item.Title</a>
                <span class="lists-date">-@item.CreatedOn.ToString("D")</span>
            </div>
            @Html.Widget("bloglist_page_before_post_body", item.Id)
            <div class="lists-content">
                <p class="lists-body">@Html.Raw(item.Short)</p>
                <div class="lists-buttons">
                    <a href="@Url.RouteUrl("NewsItem", new {SeName = item.SeName})" class="more" role="button">@T("News.MoreInfo")</a>
                </div>
                @Html.Widget("newslist_page_inside_item", item.Id)
            </div>
        </div>
    }
</div>

@{
    var pager = Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber");
}
@if (!pager.IsEmpty())
{
    <div class="pager">
        @pager
    </div>
}